{% extends 'base.html' %}


{% block title %}
    Register Page
{% endblock %}


{% block content %}
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" style="color:white">
                {{ reg_form.hidden_tag() }}
                <h1>Please Create Your Account</h1>
                <br>
                {{ reg_form.username.label() }}
                {{ reg_form.username(class="form-control", placeholder="User Name") }}

                {{ reg_form.email_address.label() }}
                {{ reg_form.email_address(class="form-control", placeholder="Email Address") }}

                {{ reg_form.user_password.label() }}
                {{ reg_form.user_password(class="form-control", placeholder="Password") }}

                {{ reg_form.confirm_password.label() }}
                {{ reg_form.confirm_password(class="form-control", placeholder="Confirm Pasword") }}
                <br>
                {{ reg_form.submit(class="btn btn-lg btn-block btn-primary") }}
                
            </form>
        </div>
    <body/>
{% endblock %}